
# Remove this line if you want to commit compiled assets:
/web/dist/

#
# Devbox
#

.vagrant
.DS_Store
.devbox/ansible/playbook.retry

#
# Symfony
#

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
