
html {
  background-color: #111;
  font-family: Helvetica, Arial, sans-serif;
  color: #EEE;
}

body {
  overflow: hidden;
}

.tile {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;

}

.tile-white {
  background-color: #EEE;
  color: #111;
}

.tile-red {
  background-color: #F00;
  color: #EEE;
}

.dashboard-leaf {
  box-sizing: border-box;
  padding: 5px 0 0 5px;
}

#dashboard {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1920px;
  height: 1080px;
}