
html {
  background-color: #222;
  font-family: Helvetica, Arial, sans-serif;
  color: #EEE;
}

body {
  overflow: hidden;
}

.widget {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.widget-white {
  background-color: #EEE;
  color: #111;
}

.widget-red {
  background-color: #F00;
  color: #EEE;
}

.widget-black {
  background-color: #111;
  color: #EEE;
}

.dashboard-leaf {
  box-sizing: border-box;
  padding: 5px 0 0 5px;
}

#dashboard {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1920px;
  height: 1080px;
  font-size: 0.5em;
}

.widget-clock svg text {
  fill: currentColor;
  dominant-baseline: middle;
}
