<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/base.css">
    <link rel="stylesheet" href="/dist/dashboard.css">
    <title>Auradash</title>
  </head>
  <body>
    <div id="dashboard">

      <!--
      <div class="tile tile-white">First</div>
      <div class="tile tile-white">Second</div>
      <div class="tile tile-white">Third</div>
      <div class="tile tile-red">Fourth</div>
      <div class="tile tile-white">Fifth</div>
      <div class="tile tile-white">Sixth</div>
      -->
      
    </div>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
